html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}
.titulo{
    text-align: center;
    background-image: url(https://i.ytimg.com/vi/z_hMScfhvIs/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20PX;
}
header h1{
    background-color: rgba(0, 0, 0,0.7);
    padding: 20px;
    color: rgb(68, 96, 255);
    font-size: 40PX;
}
h2{
    color: rgb(0, 255, 242);
    padding: 20px;
    background-color: rgba(0, 0, 0,0.7);
    font-size: 30px;
}
section{
    background-image: url(https://w0.peakpx.com/wallpaper/424/45/HD-wallpaper-bubbles-bubble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    background-color: rgba(0, 0, 0,0.7);
    font-size: 20px;
    color: white;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    
}
.letritas{
    color: wheat;
    text-align: center;
    background-color: rgba(0, 0, 0,0.7);
}
.respuesta{
    background-image: url(https://browsecat.net/sites/default/files/beautiful-space-wallpapers-94587-734954-6243009.png);
    color: rgb(204, 204, 204);
    padding: 16px;
    text-align: center;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    font-size: 20px;
    background-color: rgb(133, 80, 12);
    color: white;
    border-radius: 20px;
    padding: 10px; 
    
}
input[type=number]{
    width: 20%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: burlywood;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.te{
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0,0.7);

}
header a{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0,0.7);
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 8px;
}
header a:hover{
    background-color: rgba(192, 192, 192, 0.548);
    color: black;
}
